= form_for current_user, url: account_update_path do |f|
  .col-md-4
    .form-group
      = f.text_field :email, class: 'form-control'

    - if current_user.plan.has_sms?
      .form-group
        = f.text_field :mobile_number, placeholder: 'Mobile number', class: 'form-control'

    .form-group
      Current plan:
      %strong= current_user.plan.name.humanize
      %br
      = link_to 'Change plan', account_plans_path

    - unless current_user.twilio_number.blank?
      .form-group
        Phone number:
        %strong= current_user.twilio_number

    - if current_user.credit_cards.any?
      .form-group
        Credit card:
        %strong= current_user.credit_cards.first.last4

    .form-group
      = f.submit 'Update Settings', class: 'btn btn-primary'
  .col-md-8