!!!
%html
  %head
    %title ReminderApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Reminder App', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Pricing', pricing_path
            - if current_user
              %li= link_to current_user.email, account_edit_path
              %li= link_to 'Log Out', destroy_user_session_path, method: :delete

    - if notice
      .alert.alert-success= notice
    - if alert
      .alert.alert-danger= alert
    
    .container-fluid  
      = yield

    .container-fluid{style: "margin-top: 80px;"}
      Reminder App - Made by John Smith
      %br
      = link_to 'Pricing', pricing_path